@charset "UTF-8";
/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 767px 이하일때*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
a{text-decoration: none;}

.container{width: 100%; background-color: transparent; }

.intro {width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; font-family: 'Unbounded', cursive; background: transparent;}
.intro .title {white-space: nowrap; font-size: 8vw; text-align: center; line-height: 1.4; font-weight: 700;}
.intro .title span { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0;}


/* works */
.works{width: 100%;}
.works .title { font-family: 'Unbounded', cursive; font-weight: 700; font-size: 5vw; text-align: center; padding: 100px 0; letter-spacing: 1vw;}

.works .filter_area { display: flex; flex-wrap: wrap; padding: 10px; justify-content: flex-end;}
.works .filter_area button { border: 0; background-color: #999; color: #fff;  border: 2px solid #fff;  padding: 10px 15px; border-radius: 5px; font: inherit; margin: 20px 10px; cursor: pointer;}
.works .filter_area button.on { background: #ededed; color: #000; font-weight: bold;}

.works .gird{display: block; width: 80%; margin: 0 auto; text-align: center;}


.works .cont {position: relative; width: 33.33%; margin-bottom: 30px;}
.works .cont img{display: block; width: 100%; height: 100%;}
.works .cont .link_wrap {position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.6); opacity: 0;}
.works .cont:hover .link_wrap { transition: 0.5s; opacity: 1;}
.works .cont .link_wrap h2 { font-size: 24px; color: #fff;}


.works .cont .links { margin-top: 20px;}
.works .cont .links .link_more { width: 100px; height: 50px; padding: 10px 20px; box-sizing: border-box; background: #fff; color: #000;}
.works .cont .links .link_more:hover { background: #000; color: #fff; transition: 0.3s;}
.works .cont .links .link_notion { margin-top: 20px; display: block; font-size: 18px; line-height: 30px; color: #fff;}

.works .group_list:after { content: ""; display: block; clear: both;}


/* contact */
.contact{ width: 100%; padding: 100px 0;}
.contact h2 { font-family: 'Unbounded', cursive; font-weight: 700; font-size: 8vw; text-align: center; padding: 100px 0; letter-spacing: 1vw;}
.contact .innerWrap{width: 80%; margin: 0 auto; display: flex; }

.contact .introduce{text-align: center; width: 35%; padding: 0 50px;}
.contact .introduce img{display: block; width: 100%;}
.contact .introduce p{font-size: 1.5rem;}

.contact .information{width: 65%; display: flex; flex-wrap: wrap; background-color: #999; box-shadow: 2px 2px 8px rgb(0 0 0 / 20%); border-radius: 10px; padding: 50px;}
.contact .information .box{width: 50%;}
.contact .information .box img{display: block; width: 30px;}
.contact .information .box2 img{display: block; width: 30px;}


.contact .information p{font-size: 2.5rem; font-weight: bold; margin: 0; color: #333; }
.contact .information .box td{display: table-cell; vertical-align: middle; font-size: 1.25rem; padding-top: 10px; padding-right: 20px; }
.contact .information .box2 td{display: table-cell; vertical-align: middle; font-size: 1.25rem; padding-top: 10px 0 0; }



@media (max-width: 1430px) {
  .contact .introduce p{font-size: 1.25rem;}
  .contact .information p{font-size: 2rem;}
  .contact .information .box td{font-size: 1rem;}
  .contact .information .box2 td{font-style: 1rem;}
}

@media (max-width: 1024px) { 
  .works .cont { width: 50%;}
  .works .cont .link_wrap h2 { font-size: 20px; color: #fff;}

  .contact .innerWrap{flex-wrap: wrap; width: 100%;}
  .contact .information{width: 100%;}
  .contact .introduce{width: 100%;}

  .contact .introduce p{font-size: 1.5rem;}
  .contact .information p{font-size: 2.5rem;}
  .contact .information .box td{font-size: 1.25rem;}
  .contact .information .box2 td{font-style: 1.25rem;}
}

@media (max-width: 768px) {
  .works .sc_title { font-size: 8vw; }
  .works .cont { width: 100%;}
  .works .cont .link_wrap h2 { font-size: 18px; color: #fff;}

  .contact .innerWrap{flex-wrap: wrap; width: 100%;}
}

@media (max-width: 720px) {
  .contact .information{width: 80%; margin: 0 auto; padding: 20px;}
  .contact .information .box{width: 100%; padding-bottom: 30px; text-align: center;}
  .contact .information .box2{width: 100%; padding-bottom: 30px; text-align: center;}

  .contact .information .box table{margin: 0 auto;}
  .contact .information .box2 table{margin: 0 auto;}
  .contact .information .box p{padding-bottom: 15px; }  
}

@media (max-width: 375px) {
  .works .filter_area{padding-right: 5px;}
  .works .filter_area button { background-color: #999; color: #fff;  border: 1px solid #fff;  padding: 5px 10px; border-radius: 5px; font: inherit; margin: 15px 5px; cursor: pointer;}
  .works .filter_area button.on { background: #ededed; color: #000; font-weight: bold;}


  .contact .introduce p{font-size: 1.25rem;}
  .contact .information p{font-size: 2.25rem;}
  .contact .information .box td{font-size: 1rem;}
  .contact .information .box2 td{font-style: 1rem;}
}

@media (max-width: 320px) { 
  .works .cont .link_wrap h2 { font-size: 0.875rem; color: #fff;}
}